.card1 {
    margin: 50px;
    
}

.card2 {
    margin-inline: 550px;
    margin-top: -385px;
}

.card3 {
    margin-inline: 1050px ;
    margin-top: -315px;

}

.card4 {
    margin-inline: 1500px ;
    margin-top: -340px;
    
}